.login {
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner {
    min-width: 300px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #cecece;
    margin-bottom: 20px;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
}

.ant-btn-primary {
    color: #fff;
    border-color: #2b2c2d;
    background: #101011;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.ant-btn-primary:hover {
    background: #b29167;
    border-color: #b29167;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}