*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.login {
    width: 100%;
    display: flex;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #cecece;
    margin: 15px;
}

h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 15px;
    font-weight: 400;
}

img{
    width: 100%;
    height: 87vh;
}

.image{
    flex: 0.6;
}

.inner {
    flex: 0.4;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}

.innerContainer{
    width: 85%;
}

h4 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

.inner h4{
    text-align: left;
}

.displayRight{
    flex-direction: row-reverse;
}

.MuiButton-root {
    color: #fff;
    border-color: #2b2c2d;
    background: #101011;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

.MuiButton-root:hover {
    background: #b29167;
    border-color: #b29167;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

p{
    font-size: 12px;
    text-align: center;
}


