::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

h4 {
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-size: 0.875rem;
}


@media screen and (min-width: 800px) {
    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }
}



/* section */
.section {
    width: 94%;
    height: 650px;
    background-color: white;
}

/*
=============== 
Slider
===============
*/
.title {
    text-transform: capitalize;
    margin-bottom: 0.1rem;
    font-size: 35px;
}

.title h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
}

.title span {
    font-size: 0.85em;
    margin-right: 1rem;
    font-weight: 700;
}

.section-center {
    margin: 0 auto;
    margin-top: 0.25rem;
    margin-bottom: 10px;
    width: 100vw;
    height: 650px;
    max-width: 800px;
    text-align: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

.person-img {
    float: left;
    width: 100%;
    height: 550px;
    object-fit: cover;
}

article h4 {
    text-transform: uppercase;
}

.action {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 350px;
    margin: 0 auto;
    padding: 0;
}


.text {
    display: none;
}

.button {
    width: fit-content;
    outline: none;
    border: 2px solid lightgray;
    padding: 3px 15px;
    font-size: 20px;
    background: transparent;
    font-family: monospace;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.button:hover {
    border: 2px solid white;
    color: white;
    background-color: orange;
    -webkit-transform: scale(0.98, 0.98);
    transform: scale(0.98, 0.99);
}


.icon {
    font-size: 3rem;
    margin-top: 1rem;
    color: hsl(21, 62%, 45%);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(99, 98, 98, 0.1);
    color: #fff;
    width: 1.25rem;
    height: 1.25rem;
    display: grid;
    place-items: center;
    border-color: transparent;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 1.5s ease;
}

.prev:hover,
.next:hover {
    background: hsl(210, 22%, 49%);
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@media screen and (min-width: 992px) {
    .section {
        width: 70vw;
        min-height: 50vh;
        padding: 0;
        margin: 0 auto;
    }

    .section-center {
        float: left;
        width: 100%;
        max-width: 972px;
        height: 650px;
        text-align: center;
        position: relative;
        display: flex;
        overflow: hidden;
    }

    .img {
        min-width: 400px;
        height: 100%;
        margin: 0 20px;
    }

    .person-img {
        float: left;
        max-width: 450px;
        height: 650px;
        object-fit: cover;
    }

    article {
        display: flex;
        flex-direction: row;
        margin: 0px auto;
        width: 100%;
        /* background-color: red; */
    }

    .text {
        display: contents;
        font-size: 18px;
        color: #333;
        font-weight: 500;
        padding: 0 30px;
    }

    .action {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: space-between;
        margin: 200px auto;
        /* background-color: yellow; */
    }
}


@media (min-width: 800px) {
    .text {
        max-width: 45em;
    }

    .prev,
    .next {
        width: 2rem;
        height: 2rem;
        font-size: 1.5rem;
    }
}

article {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 1.5s ease;
}

article.activeSlide {
    opacity: 1;
    transform: translateX(0);
}

article.lastSlide {
    transform: translateX(-100%);
}

article.nextSlide {
    transform: translateX(100%);
}